# Combining dataframes. Part 2

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

Importing Dataframes

In [2]:
# Defining path
path = r'/Users/lilia.verbenkogmail.com/04-08-2023 Instacart Basket Analysis'

In [16]:
# Importing df_prods
prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [17]:
# Importing orders_products_combined
ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

Merging Dataframes

In [18]:
# Dimensions of df_ordrs_prods_combined
ords_prods_combined.shape

(32434489, 11)

In [19]:
ords_prods_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [20]:
# Dimensions of df_prods
prods.shape

(49672, 5)

In [26]:
prods.tail(100)

,product_id,product_name,aisle_id,department_id,prices
49572,49589,Spray Red Honeysuckle Nectar Air Freshener,101,17,9.8
49573,49590,"Good Budddy, Jerky Strips, Real Chicken Recipe",40,8,3.5
49574,49591,Fruit Roll Raspberry,50,19,6.5
49575,49592,Greek Vanilla Fat Free Yogurt,120,16,7.2
49576,49593,Classic Movie Theater Popcorn,23,19,4.3
...,...,...,...,...,...
49667,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49686,Artisan Baguette,112,3,7.8
49670,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49688,Fresh Foaming Cleanser,73,11,13.5

In [27]:
# Product_id matches in both dataframes - use this as the key to merge

df_merged = prods.merge(ords_prods_combined, on = 'product_id', indicator = True)

ValueError: Cannot use name of an existing column for indicator column

In [12]:
df_merged.head()

NameError: name 'df_merged' is not defined

In [ ]:
# using merge flag
df_merged['_merge'].value_counts()

In [ ]:
#Dimensions of df_merged 
df_merged.shape

In [ ]:
#Exporting the file to pickle
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))